.main {
	margin: 0 53px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 3px solid #FFF;
}

.button {
	padding: 13px;
	color: #FFF;
	text-align: center;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
	margin: 0 auto;
}